<div class="col-2" style="background-color: teal;">
  <div class="row d-flex align-items-center justify-content-center" style="background-color:#CCFF66; height:10vh;">
    <div class="p-2">
    ルーム一覧
    </div>
  </div>
  <div class="row" style="background-color:#33FF00; height:90vh;">
  <% if @chatroom%>
    <% @chatroom.each do |room|%>
    <div class="col-12-fluid d-flex align-items-center justify-content-center" style="background-color:#CCFFFF; height:10vh;">
      <div class="row-fluid p-2 "> 
        <%= link_to "#{room.name} #{room.apartment.name}", masters_chatroom_apartment_apartment_messages_path(room)%>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>
</div>