<h1>Editing Masters Apartment Message</h1>

<%= render 'form', masters_apartment_message: @masters_apartment_message %>

<%= link_to 'Show', @masters_apartment_message %> |
<%= link_to 'Back', masters_apartment_messages_path %>
