<%= form_with(model: masters_chatroom_residence, local: true) do |form| %>
  <% if masters_chatroom_residence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(masters_chatroom_residence.errors.count, "error") %> prohibited this masters_chatroom_residence from being saved:</h2>

      <ul>
        <% masters_chatroom_residence.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
