<h1>Editing Masters Chatroom Residence</h1>

<%= render 'form', masters_chatroom_residence: @masters_chatroom_residence %>

<%= link_to 'Show', @masters_chatroom_residence %> |
<%= link_to 'Back', masters_chatroom_residences_path %>
