<div class="col-3 " style="background-color: white;">
  <div class="row h-25" style="background-color: #33FFFF;">
  </div>
  <div class="row align-items-center h-75" style="background-color: whiht;">
    <div class="col-12 shadow-lg bg-white rounded d-flex justify-content-center align-items-center" style="height: 100px;">
      <p>ここにメニューを入れる予定</p>
    </div>
    <div class="col-12 shadow-lg bg-white rounded d-flex justify-content-center align-items-center" style="height: 100px;">
      <p>ここにメニューを入れる予定</p>
    </div>
  </div>
</div>