<h1>Editing Apartments Apartment Message</h1>

<%= render 'form', apartments_apartment_message: @apartments_apartment_message %>

<%= link_to 'Show', @apartments_apartment_message %> |
<%= link_to 'Back', apartments_apartment_messages_path %>
