<h1>Editing Masters Residence Message</h1>

<%= render 'form', masters_residence_message: @masters_residence_message %>

<%= link_to 'Show', @masters_residence_message %> |
<%= link_to 'Back', masters_residence_messages_path %>
