<div class="container-fluid " style="height: 100vh; width: 100vw; background-color: gray;">
  <div class="row h-100">
    <%= render "masters/chats/side"%>
    <%= render "masters/chats/middle"%>
    <%= render "masters/chats/main"%>
  </div>
</div>