<p id="notice"><%= notice %></p>

<h1>Masters Tops</h1>
<p><%= link_to 'コラム記事', masters_articles_path %>
<p><%= link_to 'お知らせ', masters_notices_path %>
<p><%= link_to 'お知らせタグ作成、削除、編集', masters_tags_path %>



