<div class="container-fluid " style="height: 100vh; width: 100vw; background-color: gray;">
  <div class="row h-100">
    <%= render "apartments/apartment_messages/side"%>
    <%= render "apartments/apartment_messages/middle"%>
    <%= render "apartments/apartment_messages/main"%>
  </div>
</div>